In [21]:
import datascience as ds
import numpy as np
%matplotlib inline
input_file="https://data.cityofnewyork.us/api/views/7yay-m4ae/rows.csv"
input_table = ds.Table.read_table(input_file)
input_labels = input_table.labels
print(input_labels)
input_table

('PUBLICATION DATE', 'FISCAL YEAR', 'AGENCY CODE', 'AGENCY NAME', 'ALL FUNDS', 'CITY FUND', 'REMARK')

PUBLICATION DATE | FISCAL YEAR | AGENCY CODE | AGENCY NAME              | ALL FUNDS | CITY FUND | REMARK
20171130         | 2011        | 991         | General Reserve          | 0         | 0         | nan
20171130         | 2002        | 858         | D.O.I.T.T.               | 170951    | 53506     | nan
20171130         | 2008        | 817         | Dept of Mental Health    | 0         | 0         | nan
20171130         | 2009        | 991         | General Reserve          | 0         | 0         | nan
20171130         | 2008        | 819         | Health + Hospitals       | 256837    | 128181    | nan
20171130         | 2002        | 100         | M.A.C. Debt Service      | 462900    | 462900    | nan
20171130         | 2002        | 101         | Public Advocate          | 2821      | 2821      | nan
20171130         | 2002        | 102         | City Council             | 47299     | 47094     | nan
20171130         | 2002        | 103         | City Clerk               | 2727      | 2650      | nan
20171130         | 2002        | 125         | Department for the Aging | 231227    | 166267    | nan
... (1478 rows omitted)