In [10]:
import datascience
import numpy as np
minard = datascience.Table.read_table('data/minard.csv')

In [63]:
my_table = datascience.Table()
my_table.add_row([1,2,3])
##my_table.add_rwos([4,5,6],['a','b','c'])

AttributeError: 'Table' object has no attribute 'add_row'

In [11]:
print(minard)

Longitude | Latitude | City        | Direction | Survivors
32        | 54.8     | Smolensk    | Advance   | 145000
33.2      | 54.9     | Dorogobouge | Advance   | 140000
34.4      | 55.5     | Chjat       | Advance   | 127100
37.6      | 55.8     | Moscou      | Advance   | 100000
34.3      | 55.2     | Wixma       | Retreat   | 55000
32        | 54.6     | Smolensk    | Retreat   | 24000
30.4      | 54.4     | Orscha      | Retreat   | 20000
26.8      | 54.3     | Moiodexno   | Retreat   | 12000

In [12]:
minard = minard.relabeled('City', 'City Name')
print(minard)

Longitude | Latitude | City Name   | Direction | Survivors
32        | 54.8     | Smolensk    | Advance   | 145000
33.2      | 54.9     | Dorogobouge | Advance   | 140000
34.4      | 55.5     | Chjat       | Advance   | 127100
37.6      | 55.8     | Moscou      | Advance   | 100000
34.3      | 55.2     | Wixma       | Retreat   | 55000
32        | 54.6     | Smolensk    | Retreat   | 24000
30.4      | 54.4     | Orscha      | Retreat   | 20000
26.8      | 54.3     | Moiodexno   | Retreat   | 12000

In [13]:
minard.column('Longitude')

array([32. , 33.2, 34.4, 37.6, 34.3, 32. , 30.4, 26.8])

In [18]:
minard.take(0)

Longitude | Latitude | City Name | Direction | Survivors
32        | 54.8     | Smolensk  | Advance   | 145000

In [38]:
minard.take(0,1)

Longitude | Latitude | City Name   | Direction | Survivors
32        | 54.8     | Smolensk    | Advance   | 145000
33.2      | 54.9     | Dorogobouge | Advance   | 140000

In [21]:
minard.take(np.arange(0,4))

Longitude | Latitude | City Name   | Direction | Survivors
32        | 54.8     | Smolensk    | Advance   | 145000
33.2      | 54.9     | Dorogobouge | Advance   | 140000
34.4      | 55.5     | Chjat       | Advance   | 127100
37.6      | 55.8     | Moscou      | Advance   | 100000

In [26]:
print('arange',type(np.arange(0,5)))
print('range',type(range(0,5)))

arange <class 'numpy.ndarray'>
range <class 'range'>

In [27]:
print(minard.num_columns)

5

In [28]:
print(minard.num_rows)

8

In [29]:
print(minard.labels)

('Longitude', 'Latitude', 'City Name', 'Direction', 'Survivors')

In [37]:
print(minard.columns)

(array([32. , 33.2, 34.4, 37.6, 34.3, 32. , 30.4, 26.8]), array([54.8, 54.9, 55.5, 55.8, 55.2, 54.6, 54.4, 54.3]), array(['Smolensk', 'Dorogobouge', 'Chjat', 'Moscou', 'Wixma', 'Smolensk',
       'Orscha', 'Moiodexno'], dtype='<U11'), array(['Advance', 'Advance', 'Advance', 'Advance', 'Retreat', 'Retreat',
       'Retreat', 'Retreat'], dtype='<U7'), array([145000, 140000, 127100, 100000,  55000,  24000,  20000,  12000]))

In [39]:
print(minard.column(1))

[54.8 54.9 55.5 55.8 55.2 54.6 54.4 54.3]

In [45]:
minard.sort('Longitude')

Longitude | Latitude | City Name   | Direction | Survivors
26.8      | 54.3     | Moiodexno   | Retreat   | 12000
30.4      | 54.4     | Orscha      | Retreat   | 20000
32        | 54.8     | Smolensk    | Advance   | 145000
32        | 54.6     | Smolensk    | Retreat   | 24000
33.2      | 54.9     | Dorogobouge | Advance   | 140000
34.3      | 55.2     | Wixma       | Retreat   | 55000
34.4      | 55.5     | Chjat       | Advance   | 127100
37.6      | 55.8     | Moscou      | Advance   | 100000

In [49]:
minard.columns

(array([32. , 33.2, 34.4, 37.6, 34.3, 32. , 30.4, 26.8]),
 array([54.8, 54.9, 55.5, 55.8, 55.2, 54.6, 54.4, 54.3]),
 array(['Smolensk', 'Dorogobouge', 'Chjat', 'Moscou', 'Wixma', 'Smolensk',
        'Orscha', 'Moiodexno'], dtype='<U11'),
 array(['Advance', 'Advance', 'Advance', 'Advance', 'Retreat', 'Retreat',
        'Retreat', 'Retreat'], dtype='<U7'),
 array([145000, 140000, 127100, 100000,  55000,  24000,  20000,  12000]))

In [51]:
minard.column(1)

array([54.8, 54.9, 55.5, 55.8, 55.2, 54.6, 54.4, 54.3])

In [52]:
minard.relabeled('City Name','City')

Longitude | Latitude | City        | Direction | Survivors
32        | 54.8     | Smolensk    | Advance   | 145000
33.2      | 54.9     | Dorogobouge | Advance   | 140000
34.4      | 55.5     | Chjat       | Advance   | 127100
37.6      | 55.8     | Moscou      | Advance   | 100000
34.3      | 55.2     | Wixma       | Retreat   | 55000
32        | 54.6     | Smolensk    | Retreat   | 24000
30.4      | 54.4     | Orscha      | Retreat   | 20000
26.8      | 54.3     | Moiodexno   | Retreat   | 12000

In [54]:
minard.columns

(array([32. , 33.2, 34.4, 37.6, 34.3, 32. , 30.4, 26.8]),
 array([54.8, 54.9, 55.5, 55.8, 55.2, 54.6, 54.4, 54.3]),
 array(['Smolensk', 'Dorogobouge', 'Chjat', 'Moscou', 'Wixma', 'Smolensk',
        'Orscha', 'Moiodexno'], dtype='<U11'),
 array(['Advance', 'Advance', 'Advance', 'Advance', 'Retreat', 'Retreat',
        'Retreat', 'Retreat'], dtype='<U7'),
 array([145000, 140000, 127100, 100000,  55000,  24000,  20000,  12000]))

In [55]:
minard.show(2)

In [58]:
minard.show(3)

In [60]:
minard.select("Longitude","City Name")

Longitude | City Name
32        | Smolensk
33.2      | Dorogobouge
34.4      | Chjat
37.6      | Moscou
34.3      | Wixma
32        | Smolensk
30.4      | Orscha
26.8      | Moiodexno

In [61]:
minard.drop('Longitude')

Latitude | City Name   | Direction | Survivors
54.8     | Smolensk    | Advance   | 145000
54.9     | Dorogobouge | Advance   | 140000
55.5     | Chjat       | Advance   | 127100
55.8     | Moscou      | Advance   | 100000
55.2     | Wixma       | Retreat   | 55000
54.6     | Smolensk    | Retreat   | 24000
54.4     | Orscha      | Retreat   | 20000
54.3     | Moiodexno   | Retreat   | 12000

In [67]:
minard.where('Survivors',127100)

Longitude | Latitude | City Name | Direction | Survivors
34.4      | 55.5     | Chjat     | Advance   | 127100

In [77]:
test_table = datascience.Table().with_columns('Chickens',datascience.make_array(1,2,5),\
                                              'Beaks',datascience.make_array(1,1,1))
print(test_table)

Chickens | Beaks
1        | 1
2        | 1
5        | 1

In [92]:
test_table = test_table.with_columns('wings',datascience.make_array(2,2,2))

In [93]:
test_table

Chickens | Beaks | wings
1        | 1     | 2
2        | 1     | 2
5        | 1     | 2

In [95]:
test_table.with_row(datascience.make_array(10,1,2))

Chickens | Beaks | wings
1        | 1     | 2
2        | 1     | 2
5        | 1     | 2
10       | 1     | 2

In [99]:
test_table.with_rows(datascience.make_array(datascience.make_array(10,1,2),datascience.make_array(1,1,2)))

Chickens | Beaks | wings
1        | 1     | 2
2        | 1     | 2
5        | 1     | 2
10       | 1     | 2
1        | 1     | 2